{% extends 'bills/Base.html' %}
{% block Home %}

<div class="container">
    <h4 class="alert alertbg mt-2 text-center">Dashboard</h4>

    <div class="row">
        <div class="col-md mt-2"  data-aos="zoom-in" data-aos-delay="200" data-aos-duration="1000">
            <div class="card text-center">
                <div class="card-header alertbg">
                  <b> Total Customer's</b>
                </div>
                <div class="card-header py-4">
                 <h3 class="card-title">---</h3>
                 <a href="" class="btn btnbg"  data-aos="flip-up" data-aos-delay="600" data-aos-duration="1000">Check</a>
                </div>
            </div>
        </div>
    
        <div class="col-md mt-2"  data-aos="zoom-in" data-aos-delay="400" data-aos-duration="1000">
                <div class="card text-center">
                    <div class="card-header alertbg">
                    <b>Anual Turnover</b>
                    </div>
                    <div class="card-header  py-4">
                     <h3 class="card-title">---</h3>
                 <a href="" class="btn btnbg"  data-aos="flip-up" data-aos-delay="800" data-aos-duration="1000">Check</a>
    
                    </div>
                </div>
            </div>
        </div>
    

        
    <div class="row">
        <div class="col-md mt-2"  data-aos="zoom-in" data-aos-delay="200" data-aos-duration="1000">
            <div class="card text-center">
                <div class="card-header alertbg">
                  <b> Collected Amount</b>
                </div>
                <div class="card-header py-4">
                 <h3 class="card-title">---</h3>
                 <a href="" class="btn btnbg"  data-aos="flip-up" data-aos-delay="600" data-aos-duration="1000">Check</a>
                </div>
            </div>
        </div>
    
        <div class="col-md mt-2"  data-aos="zoom-in" data-aos-delay="400" data-aos-duration="1000">
                <div class="card text-center">
                    <div class="card-header alertbg">
                    <b>Remaining Amount</b>
                    </div>
                    <div class="card-header  py-4">
                     <h3 class="card-title">---</h3>
                 <a href="" class="btn btnbg"  data-aos="flip-up" data-aos-delay="800" data-aos-duration="1000">Check</a>
    
                    </div>
                </div>
            </div>
        </div>
    
    </div>
</div>

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
  </script>

{% endblock Home %}
